In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [2]:
data = pd.read_csv("HousePrices.csv")
data

      Price  SqFt  Bed  Bath  Offers
0    114300  1790    2     2     2.0
1    114200  2030    4     2     3.0
2    114800  1740    3     2     1.0
3     94700  1980    3     2     NaN
4    119800  2130    3     3     3.0
..      ...   ...  ...   ...     ...
123  119700  1900    3     3     3.0
124  147900  2160    4     3     3.0
125  113500  2070    2     2     NaN
126  149900  2020    3     3     1.0
127  124600  2250    3     3     4.0

[128 rows x 5 columns]

In [3]:
data.describe()

               Price         SqFt         Bed        Bath      Offers
count     128.000000   128.000000  128.000000  128.000000  111.000000
mean   130427.343750  2000.937500    3.023438    2.445312    2.414414
std     26868.770371   211.572431    0.725951    0.514492    0.995156
min     69100.000000  1450.000000    2.000000    2.000000    1.000000
25%    111325.000000  1880.000000    3.000000    2.000000    2.000000
50%    125950.000000  2000.000000    3.000000    2.000000    2.000000
75%    148250.000000  2140.000000    3.000000    3.000000    3.000000
max    211200.000000  2590.000000    5.000000    4.000000    5.000000

In [4]:
data.isnull().sum()

Price      0
SqFt       0
Bed        0
Bath       0
Offers    17
dtype: int64

## Listwise Deletion

In [5]:
data1 = data.dropna()

In [6]:
ols = sm.OLS(data1["Price"], sm.add_constant(data1.iloc[:,1:]))
lm = ols.fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.683
Model:                            OLS   Adj. R-squared:                  0.671
Method:                 Least Squares   F-statistic:                     57.09
Date:                Sat, 05 Nov 2022   Prob (F-statistic):           1.34e-25
Time:                        15:37:39   Log-Likelihood:                -1220.2
No. Observations:                 111   AIC:                             2450.
Df Residuals:                     106   BIC:                             2464.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -9814.6271   1.31e+04     -0.749      0.456   -3.58e+04    1.62e+04
SqFt          57.9438      8.544      6.782      0.000      41.005      74.882
Bed         9532.7995   2272.716      4.194      0.000    5026.919     1.4e+04
Bath        1.246e+04   3289.974      3.787      0.000    5935.086     1.9e+04
Offers     -1.352e+04   1513.186     -8.935      0.000   -1.65e+04   -1.05e+04
==============================================================================
Omnibus:                        2.154   Durbin-Watson:                   1.929
Prob(Omnibus):                  0.341   Jarque-Bera (JB):                2.191
Skew:                           0.315   Prob(JB):                        0.334
Kurtosis:                       2.723   Cond. No.                     1.88e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.88e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

## Mean Imputation

In [7]:
data2 = pd.read_csv("HousePrices.csv")
data2['Offers'] = data2['Offers'].fillna(data2['Offers'].mean())
data2.isnull().sum()

Price     0
SqFt      0
Bed       0
Bath      0
Offers    0
dtype: int64

In [8]:
data.iloc[8,:]

Price     119200.0
SqFt        2110.0
Bed            4.0
Bath           2.0
Offers         NaN
Name: 8, dtype: float64

In [9]:
data2.iloc[8,:]

Price     119200.000000
SqFt        2110.000000
Bed            4.000000
Bath           2.000000
Offers         2.414414
Name: 8, dtype: float64

In [10]:
ols1 = sm.OLS(data2["Price"], sm.add_constant(data2.iloc[:,1:]))
lm1 = ols1.fit()
print(lm1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.636
Model:                            OLS   Adj. R-squared:                  0.625
Method:                 Least Squares   F-statistic:                     53.84
Date:                Sat, 05 Nov 2022   Prob (F-statistic):           3.76e-26
Time:                        15:37:39   Log-Likelihood:                -1421.8
No. Observations:                 128   AIC:                             2854.
Df Residuals:                     123   BIC:                             2868.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.175e+04   1.39e+04     -0.844      0.400   -3.93e+04    1.58e+04
SqFt          54.3202      8.924      6.087      0.000      36.655      71.985
Bed         8737.1678   2364.436      3.695      0.000    4056.912    1.34e+04
Bath        1.643e+04   3429.648      4.792      0.000    9646.017    2.32e+04
Offers     -1.372e+04   1680.276     -8.163      0.000    -1.7e+04   -1.04e+04
==============================================================================
Omnibus:                        0.605   Durbin-Watson:                   1.921
Prob(Omnibus):                  0.739   Jarque-Bera (JB):                0.746
Skew:                           0.119   Prob(JB):                        0.689
Kurtosis:                       2.711   Cond. No.                     1.93e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.93e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

## Regression Based Imputation

In [11]:
data_test = data[data['Offers'].isnull()==True]
data_train = data[data['Offers'].isnull()==False]

olsr = sm.OLS(data_train[["Offers"]], sm.add_constant(data_train[["SqFt","Bed", "Bath"]]))
lmr = olsr.fit()

data_test["Offers"]= lmr.predict(sm.add_constant(data_test[["SqFt","Bed", "Bath"]]))
data3 = pd.concat([data_train,data_test])

C:\Users\user\AppData\Local\Temp\ipykernel_19020\4290046809.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test["Offers"]= lmr.predict(sm.add_constant(data_test[["SqFt","Bed", "Bath"]]))

In [12]:
ols2 = sm.OLS(data3["Price"], sm.add_constant(data3.iloc[:,1:]))
lm2 = ols2.fit()
print(lm2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.628
Model:                            OLS   Adj. R-squared:                  0.616
Method:                 Least Squares   F-statistic:                     51.97
Date:                Sat, 05 Nov 2022   Prob (F-statistic):           1.47e-25
Time:                        15:37:39   Log-Likelihood:                -1423.2
No. Observations:                 128   AIC:                             2856.
Df Residuals:                     123   BIC:                             2871.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.563e+04   1.41e+04     -1.107      0.271   -4.36e+04    1.23e+04
SqFt          55.9697      9.094      6.155      0.000      37.969      73.971
Bed         8713.2486   2391.667      3.643      0.000    3979.091    1.34e+04
Bath        1.658e+04   3470.895      4.776      0.000    9707.078    2.34e+04
Offers     -1.352e+04   1710.862     -7.903      0.000   -1.69e+04   -1.01e+04
==============================================================================
Omnibus:                        0.685   Durbin-Watson:                   1.920
Prob(Omnibus):                  0.710   Jarque-Bera (JB):                0.672
Skew:                           0.171   Prob(JB):                        0.715
Kurtosis:                       2.906   Cond. No.                     1.93e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.93e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

## Stochastic Regression Based Imputation

In [13]:
data_test1 = data[data['Offers'].isnull()==True]
data_train1 = data[data['Offers'].isnull()==False]

olss = sm.OLS(data_train1[["Offers"]], sm.add_constant(data_train1[["SqFt","Bed", "Bath"]]))
lms = olss.fit()

mean = lms.predict(sm.add_constant(data_test1[["SqFt","Bed", "Bath"]]))
std = lms.resid.std()
rand_pred = np.random.normal(size = data_test1.shape[0], loc = mean, scale = std)
data_test1["Offers"] = rand_pred
data4 = pd.concat([data_train1,data_test1])

C:\Users\user\AppData\Local\Temp\ipykernel_19020\1043183130.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test1["Offers"] = rand_pred

In [14]:
data_test1

      Price  SqFt  Bed  Bath    Offers
3     94700  1980    3     2  1.799358
8    119200  2110    4     2  1.923565
12   102600  1910    3     2  1.322989
21   113800  2000    3     2 -0.388935
33   139600  2280    5     3  3.351091
34   117800  2000    2     2  4.009231
47    90300  2050    3     2  2.407172
77   176500  2280    4     3  4.113852
89    97800  2010    2     2  3.390598
100  103200  2010    3     2  1.722190
102  136800  2410    3     3  3.909353
103  211200  2440    4     3  3.055031
104   82300  1910    3     2  1.848358
106  108500  2130    3     2  2.819332
113  115700  2000    3     2  2.868892
115  102500  1900    3     3  2.229822
125  113500  2070    2     2  2.465356

In [15]:
ols3 = sm.OLS(data4["Price"], sm.add_constant(data4.iloc[:,1:]))
lm3 = ols3.fit()
print(lm3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.585
Model:                            OLS   Adj. R-squared:                  0.571
Method:                 Least Squares   F-statistic:                     43.28
Date:                Sat, 05 Nov 2022   Prob (F-statistic):           1.27e-22
Time:                        15:37:39   Log-Likelihood:                -1430.3
No. Observations:                 128   AIC:                             2871.
Df Residuals:                     123   BIC:                             2885.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.751e+04    1.5e+04     -1.169      0.245   -4.72e+04    1.21e+04
SqFt          53.9975      9.637      5.603      0.000      34.922      73.073
Bed         8531.4623   2534.575      3.366      0.001    3514.426    1.35e+04
Bath         1.67e+04   3678.297      4.541      0.000    9420.961     2.4e+04
Offers     -1.101e+04   1680.284     -6.554      0.000   -1.43e+04   -7686.340
==============================================================================
Omnibus:                        0.004   Durbin-Watson:                   1.955
Prob(Omnibus):                  0.998   Jarque-Bera (JB):                0.094
Skew:                          -0.007   Prob(JB):                        0.954
Kurtosis:                       2.868   Cond. No.                     1.94e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.94e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

## Multiple Imputation

In [16]:
data_test2 = data[data['Offers'].isnull()==True]
data_train2 = data[data['Offers'].isnull()==False]

olsm = sm.OLS(data_train2[["Offers"]], sm.add_constant(data_train2[["SqFt","Bed", "Bath"]]))
lmm = olsm.fit()

mean = lmm.predict(sm.add_constant(data_test2[["SqFt","Bed", "Bath"]]))
std = lmm.resid.std()

model = []
coef = np.zeros((5,7))
for i in range(0,6):
    rand_pred = np.random.normal(size = data_test2.shape[0], loc = mean, scale = std)
    data_test2["Offers"] = rand_pred
    data4 = pd.concat([data_train2,data_test2])
    lm = sm.OLS(data4["Price"], sm.add_constant(data4.iloc[:,1:])).fit()
    model.append(lm)
    coef[:,i] = lm.params
    
coef.mean(axis=1)

C:\Users\user\AppData\Local\Temp\ipykernel_19020\4217445370.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test2["Offers"] = rand_pred
C:\Users\user\AppData\Local\Temp\ipykernel_19020\4217445370.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test2["Offers"] = rand_pred
C:\Users\user\AppData\Local\Temp\ipykernel_19020\4217445370.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test2["Offers"] = rand_pred
C:\Users\user\AppData\Local\Temp\ipykernel_19020\4217445370.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test2["Offers"] = rand_pred
C:\Users\user\AppData\Local\Temp\ipykernel_19020\4217445370.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test2["Offers"] = rand_pred
C:\Users\user\AppData\Local\Temp\ipykernel_19020\4217445370.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test2["Offers"] = rand_pred

array([-13227.49755753,     46.67119577,   7566.72291637,  13945.35203317,
       -10392.07653573])